.chat-main
  .chat-main__group-info
    .b-items
      .b-items__group__list
        .b-items__group__list__name
          焼肉会
        .b-items__group__list__menber
          menber : bottan
      .b-items__group-edit
        =link_to "#", class: "group-edit-a" do
          Edit
  .chat-main__massage-list
    .a-items
      .a-items__user-name
        bottan
        .a-items__user-name__time
          2020年5月28日　8時12分
      .a-items__user-text
        お肉！楽しみ！！
  .chat-main__massage-form
    .d-items-items__massage
      .d-items-items__massage__form
        %input{type: "text" ,class: "d-items-items__massage__form__input"}
      .d-items-items__massage__icon
        %label{class:"icom_d"}
          = icon('far','image')
    %input{type: "submit", value: "Send", class: "d-items__send__botn"}

      -# = f.text_field :content, class: 'chat-main__massage-form', placeholder: 'type a message'