.chat-main
  .chat-main__group-info
    .b-items
      .b-items__group__list
        .b-items__group__list__name
          焼肉会
        .b-items__group__list__menber
          menber : bottan
      .b-items__group-edit
        =link_to "#", class: "group-edit-a" do
          Edit
  .chat-main__massage-list
    .a-items
      .a-items__user-name
        bottan
        .a-items__user-name__time
          2020年5月28日　8時12分
      .a-items__user-text
        お肉！楽しみ！！
    .c-items
      .c-items__user-name
        test
        .c-items__user-name__time
          2020年6月12日　9時12分
      .c-items__user-text
        やった！！

  .chat-main__massage-form
    .d-items-items__massage
      .d-items-items__massage__form
        type a messge
      .d-items-items__massage__icon
        = link_to '#', class:"icom_d" do
          = icon('far','image')
    .d-items__send__botn
      =link_to "#", class: "send__botn" do
        Send
