.a-items
  .a-items__box{data: {message: {id: message.id}}}
    .a-items__user-name
      = message.user.name
    .a-items__user-name__time
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .a-items__user-text
    - if message.content.present?
      %p.a-items__content
        = message.content
    = image_tag message.image.url, class: 'Message__image' if message.image.present?