.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        nozomi
      .top-items__icoms 
        = link_to '#', class:"icoms_a" do
          = icon('far','edit')
        = link_to'#',class:"icoms_b" do
          = icon('fas','cog')
  .side-bar__group-list
    .group-preview
      .group-preview__name
        焼肉！
      .group-preview__text
        いついく？？?

