.chat-main{
    background-color: #ffff;
    height: 100vh;
    width: calc(100vw - 300px);
    &__group-info {
      background-color:#ffffff;
    height: 100px;
    }
    &__message-list {
      background-color: #fafafa;
      height: calc(100vh - 190px);
      overflow: scroll;
      padding-top: 35px;
    }
    &__message-form {
      background-color:#d2d2d2;
      height: 90px;
      @include centering(space-between)
    }
  
  .b-items{
    height: 100px;
    width: calc(100vw - 300px - 80px);
    background-color:#ffffff;
    @include centering(space-between);
    margin: 0 auto;
    &__group__list{
      height: 65px;
      background-color:#ffffff;
      &__name{
        padding-top: 15px;
        font-size: 20px;
        color: #333333;
      }
      &__menber{
        padding-top: 15px;
        font-size: 13px;
        color: #999999;
        font-weight:lighter;
      }
    }
    &__group-edit{
      height: 40px;
      width: 72px;
      margin-top: 28px;
      border: 1px solid #38aef0;
      .group-edit-a{
        color: #38aef0;
        text-decoration: none;}
        text-align: center;
        line-height: 40px;
        font-size: 16px;
    }
  } 

    .a-items{
      padding-left: 40px;
      padding-bottom: 46px;
      &__box{
        display: flex;
      }
      &__user-name{
      height: 20px;
      font-size: 16px;
      color: #333333;
      font-weight: bold;
      margin-bottom: 12px;
      display: flex;
      &__time{
        font-size: 12px;
        color: #999999;
        padding-left: 5px;
        font-weight:lighter;
      }
      }
      &__user-text{
        font-size: 14px;
        color: #434a43;
        padding-top: 12px;
        &__content{
          background-color: #ffff;
        }
      } 
    }
      .d-items-items__message{
        height: 50px;
        width: 100%;
        margin:0 15px 0 40px ;
        @include centering(space-between);
        padding-left: 15px;
        &__contents{
          width: 100%;
          height: 45px;
          background-color:#ffffff;
          position: relative;
          &__input{
            width: 100%;
            height: 100%;
            border: none;
            padding-left: 15px;
          } 
      }
      &__icon{
        color: black;
        font-size: 25px;
        position: absolute;
        bottom: 5px;
        right: 10px;
        }
      }
      .Hidden{
        display: none;
      }
      .Form{
        display: flex;
        width: 100%;
      }
    .d-items__send__botn{
      text-decoration: none;
      .send__botn{color:#ffff;}
      height: 45px;
      width: 120px;
      background-color: #38aef0;
      text-align: center;
      line-height: 50px;
      margin-right: 40px;
      border: none;
      color:#ffff;
    }
    .Message__image{
      height: 300px;
    }
}
